<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Créer Evenement</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .create-event-container {
        max-width: 60%;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .title-div {
        width: 100%;
        padding: 10px;
        border: 1.5px solid #919191;
        border-radius: 4px;
        box-sizing: border-box;
        ;
    }

    .descr-div {
        width: 100%;
        padding: 5px;
        border: 1.5px solid #919191;
        border-radius: 4px;
        box-sizing: border-box;
        height: 90px;
    }

    .form-group {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }
</style>

<body>
    <div class="menu-bar">
        <img src="/images/logo.png" alt="Logo" class="logo" style="max-width: 50px;">
        <h1>EventHub</h1>
        <div class="button-group">
            <button class="create-event-btn"
                onclick="window.location.href='http://localhost:3000/events'">Événements</button>
            <button class="create-event-btn"
                onclick="window.location.href='http://localhost:3000/create_event'">Créer&nbspun&nbspévénement</button><!--&nbs est un espace-->
            <button class="profile-btn" onclick="window.location.href='http://localhost:3000/profile'">
                <img src="/image/profile-picture.png" alt="">
            </button>
        </div>
    </div>
    <div class="create-event-container">
        <h1>Créer un nouvel événement</h1>
        <p>Remplissez les informations pour créer votre événement</p>
        <form action="/create_event" method="POST" enctype="multipart/form-data">

            <img src="img/titre_logo.png" alt="">
            <p>Titre de l'événement *</p>
            <label for="title"></label>
            <input class="title-div" type="text" id="title" name="title" required
                placeholder="Ex: Festival de Jazz 2025...">

            <img src="img/desc_logo.png" alt="">
            <p>Description de l'événement *</p>
            <label for="description"></label>
            <textarea class="descr-div" name="description" required
                placeholder="Décrivez votre événement..."></textarea>

            <img src="img/date_logo.png" alt="">

            <p>Début de l'événement :</p>
            <p>Date *</p>
            <label for="date"></label>
            <input type="date" id="date" name="date" required>

            <img src="img/heure_logo.png" alt="">
            <p>Heure *</p>
            <label for="time"></label>
            <input type="time" id="time" name="time" required>

            <p>Fin de l'événement :</p>
            <p>Date *</p>
            <label for="end_date"></label>
            <input type="date" id="end_date" name="end_date" required>

            <img src="img/heure_logo.png" alt="">
            <p>Heure *</p>
            <label for="end_time"></label>
            <input type="time" id="end_time" name="end_time" required>

            <img src="img/lieu_logo.png" alt="">
            <p>Lieu *</p>
            <label for="location"></label>
            <input type="text" id="location" name="location" required>

            <p>Latitude</p>
            <label for="latitude"></label>
            <input type="number" id="latitude" name="latitude" required>

            <p>Longitude</p>
            <label for="longitude"></label>
            <input type="number" id="longitude" name="longitude" required>

            <p>Catégorie *</p>
            <label for="category"></label>
            <select id="category" name="category">
                <option value="">Sélectionnez une catégorie</option>
                <option value="Musique">Musique</option>
                <option value="Théâtre">Théâtre</option>
                <option value="Sport">Sport</option>
                <option value="Conférence">Conférence</option>
                <option value="Atelier">Atelier</option>
                <option value="Technologie">Technologie</option>
                <option value="Art">Art</option>
                <option value="Cuisine">Cuisine</option>
                <option value="Autre">Autre</option>
            </select>

            <p>Capacité *</p>
            <label for="capacity"></label>
            <input type="number" id="capacity" name="capacity" required>

            <p>Prix (en €) *</p>
            <label for="price"></label>
            <input type="number" step=".01" id="price" name="price" required>

            <p>URL de l'image</p>
            <label for="image_url"></label>
            <input type="text" id="image_url" name="image_url">

            <p>Organisateur *</p>
            <label for="organizer"></label>
            <input type="text" id="organizer" name="organizer" required>

            <br><br>
            <button class="btn-validation">Créer l'événement</button>
            <button class="btn-annuler">Annuler</button>

        </form>
    </div>
</body>

</html>