<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Créer Evenement</title>
</head>

<body>
    <div class="menu-bar">
        <img src="/images/logo.png" alt="Logo" max-width="50" class="logo">
        <h1>EventHub</h1>
        <div class="button-group">
            <button class="create-event-btn">Événements</button>
            <button class="create-event-btn">
                Créer un événement
            </button>
            <button class="profile-btn" id="profile-btn" aria-label="Profil">
                <img src="/image/profile-picture.png" alt="">
            </button>
        </div>
    </div>
    <div>
        <h1>Créer un nouvel événement</h1>
        <h2>Remplissez les informations pour créer votre événement</h2>
        <form action="POST" action="/create_event" enctype="multipart/form-data">


        </form>
    </div>
</body>

</html>