<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Profil user</title>
</head>

<body>
    <div class="menu-bar">
        <img src="/images/logo.png" alt="Logo" max-width="50" class="logo">
        <h1>EventHub</h1>
        <div class="button-group">
            <button class="create-event-btn">Événements</button>
            <button class="create-event-btn">
                Créer un événement
            </button>
            <button class="profile-btn" id="profile-btn" aria-label="Profil">
                <img src="/image/profile-picture.png" alt="">
            </button>
        </div>
    </div>


</body>