.menu-bar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 2px solid #ddd;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-bar .logo {
    height: 50px;
    flex-shrink: 0;
}

.menu-bar h1 {
    margin: 0;
    font-size: 24px;
    margin-right: auto;
}

.button-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    flex-shrink: 0;
}

.menu-bar .create-event-btn,
.menu-bar .profile-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.menu-bar .profile-btn {
    background-color: #6c757d;
}

.event-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.event-card {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* responsif */
@media (max-width: 1000px) {
    .event-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .event-container {
        grid-template-columns: 1fr;
    }
}

.event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-details {
    padding: 15px;
}

.event-category {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 0 0 0 8px;
    top: 0;
    right: 0;
}

.card-header {
    position: relative;
}

.event-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.filter-bar {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.filter {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}